.blog-page-container {
    display: grid;
    grid-template:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
    background-color: #d49e4a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1000px;
    margin:auto;
}

.blog-page-content {
    grid-area:main;
    display: flex;
    flex-direction: column;
}
.blog-main-image {
    width: 350px;
    height: 350px;
}
.blog-content {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    border: #d49e4a 1px solid;
    background-color: #7ed2bb;
    color: #585252;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    width: 10%;
}

.author-info {
    display: flex;
    font-size: 14px;
    align-items: flex-start;
    justify-content: start;
}

.author-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

 @media screen and (max-width: 1200px) {
    .blog-page-content {
        grid-area:main;
        display: flex;
        flex-direction: column;
    }
    .blog-page-container {
      background-color: #d49e4a;
      width: 800px;
    }
    
    .blog-text {
        width: 700px;
        font-size: 12px;
    }
    .blog-content {
        flex-direction: column;
    }
    .blog-main-image{
        width: 350px;
        height: 350px;
    }

  }

  @media screen and (max-width: 800px) {
    .blog-page-container {
      width: 100%;
    }
    .blog-text {
        width: 90%;
    }
    .blog-main-image {
        width: 25%;
        height: 80%;
    }
    #header {
        font-size: 1em;
    }
  }

  @media screen and (max-width: 480px) {
      .blog-page-content {
          height: fit-content;
      }
      .blog-page-container {
          height:100%;
      }
  }

