@media screen and (max-width: 1200px) {
    .container {
        grid-template:
            'header header header header header header'
            'nav nav nav nav nav nav'
            'side side side side side side'
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-template-rows: 400px 60px 200px 700px 100px;
        width: 800px;
    }
    .sidebar {
        grid-area:side;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .about-image {
        height: 100px;
        width: 100px;
    }
    .box {
        font-size: 16px;
    }
}